// CMPVE-Extraction
.theme-generic:root {
  // Base colors
  --color-base: #484455;
  --color-primary: #4f56a5;
  --border-color: #7b86ff;

  // Background (scaled -45% lightness from generic)
  --background-color: hsl(256, 11%, 15%);
  --base-gradient-spread: 0;
  --border-radius-unit: 2;

  // Button
  --button-color: var(--color-white);
  --button-background-default: var(--color-primary);
  --button-transparent-text: rgba(227, 240, 255, 0.75);

  // Progress bar
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --progress-bar-fill: var(--color-primary);

  // Inputs
  --input-border-color: var(--border-color);
  --input-background: transparent;

  // Title bar (scaled -25% lightness from generic)
  --titlebar-background: hsl(256, 11%, 22%);

  .Layout__content {
    background-image: none;
  }
}